<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OMRAH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OMRAH.Properties.Settings>
            <setting name="SubjectFilters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>ooo</string>
                        <string>out of office</string>
                        <string>oof</string>
                        <string>out of facility</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RecipientFilters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>macoop_all@microsoft.com</string>
                        <string>sqlback@service.microsoft.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UnlessDirect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoryName" serializeAs="String">
                <value>Other OOF</value>
            </setting>
            <setting name="CategoryColor" serializeAs="String">
                <value>olCategoryColorGray</value>
            </setting>
        </OMRAH.Properties.Settings>
    </userSettings>
</configuration>